{% extends "base.html" %}

{% block content %}
    <h1>Список статей</h1>
    {% for article in articles %}
        <a href='/articles/{{ article.id }}'><h2>{{ article.name }}</h2></a>
        <a href='/articles/{{ article.id }}/edit'>Редактировать</a>
        <div>{{ article.body|slice:":200" }}</div>
         <form action="{% url 'articles_delete' article.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
</form>
    {% endfor %}
    <p></p>
    <form method="GET", action="{% url 'articles_create'%}">
    <button type="submit">Добавить статью</button>
    </form>
{% endblock %}
